@import "~src/variables";

:host {

  flex-grow: 2;
  flex-basis: 0;
  min-height: 0;

  #messageArea {
    display: flex;
    flex-direction: column;
    height: calc(100% - 2rem);
    padding: 1rem;
    overflow-y: scroll;

    .messageRow {
      margin-bottom: 1rem;

      .message {
        background: #FFDFB4;
        border-radius: 0.7rem;
        padding: 1rem;
        color: black;
        font-size: 1.2rem;
      }

      .serverMessage {

        display: flex;
        flex-direction: row;
        width: 45%;
        align-items: flex-start;

        .panda {
          img {
            height: 6rem;
            width: auto;
          }
        }

      }

      .userMessage {

        display: flex;

        .spacer {
          flex-grow: 2;
        }

        .message {
          background: $maincolor;
          color: white;
          max-width: 45%;
          overflow-wrap: break-word;
          white-space: pre-line;
        }
      }

    }
  }
}